<ion-view view-title="Social">
	<ion-content class="padding">
	{{prova}}
	<div class="list">
		<a class="item item-icon-left item-text-wrap" ng-repeat="value in datos | orderBy:'data':true">
		    <i class="icon"><div id="{{value.resultado}}"></div></i>
		    
		    <span 
		    ng-class="{verde:value.resultado=='Vitória', laranja:value.resultado=='Empate', vermelho:value.resultado=='Derrota'}"><strong >{{value.resultado}}</strong>
		    </span>
		    de 
		    <strong >{{value.gamertag}}</strong>
		    <span ng-if="value.resultado=='Vitória'">no seu jogo {{value.jogo}}, somou + {{value.pontos}} pontos. </span>
		    <span ng-if="value.resultado=='Empate'">no seu jogo {{value.jogo}}, somou + {{value.pontos}} pontos. </span>
		    <span ng-if="value.resultado=='Derrota'">no seu jogo {{value.jogo}}.</span>
		    <span class="gris fontepequena">{{value.data | date:'dd/MM/yyyy HH:m:s' : 'UTC'}}</span>
	  	</a>
	  	<!--
	  	<a class="item item-icon-left item-text-wrap" href="#">
		    <i class="icon ion-arrow-right-a azul"></i>
		    <strong>Benbaodan</strong> teve um empate e somou 100 pontos.
	  	</a>
	  	<a class="item item-icon-left item-text-wrap" href="#">
		    <i class="icon ion-arrow-down-a vermelho"></i>
		    <strong>Benbaodan</strong> teve uma derrota e somou 100 pontos.
	  	</a>
	  	-->

	 </div>
	</ion-content>
</ion-view>

