<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{jogoNome}}" >
<!--
<ion-nav-buttons>
<ion-nav-bar>
  <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
</ion-nav-buttons>
-->
  <ion-content class="padding">

     <p ng-if="detalheJogo.estado == 'Próximo'">Adicione aqui a(s) foto(s):</p>
   <div class="row" id="camera1">
     <div class="col col-25">
     <!--
       <label class="botaoSubir"><i class="icon ion-ios-camera"></i>
         <!--<input type="file" id="file" accept="image/*" capture="camera">-->
         <!--<input type="file" id="file" />
         <input type="file" capture="camera" accept="image/*">
        </label>-->
        <input type="file" capture="camera" accept="image/*" id="file">
      </div>
      <!--
      <div class="col col-75">
        <h4>{{imagen1.name}}</h4>
      </div>
      -->
  </div>

    <div class="row">
     <div class="col col-25">
       <input type="file" capture="camera" accept="image/*" id="file3">
      </div>
      <div class="col col-75">
        <h4>{{imagen2.name}}</h4>
      </div>
    </div>
<!-- Detalle -->
    <div class="list card" ng-repeat="img in imagenes">
      <div class="item item-image">
        <img src="{{img.imagem1}}">
      </div> 
      <!--
      <div class="item item-image">
        <img src="{{img.imagem2}}">
      </div>  
      -->      
    </div>

<hr ng-if="detalheJogo.estado == 'Próximo'">
  
    <div ng-if="detalheJogo.estado == 'Próximo'">
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
<!--
     <form name="regraSend" novalidate ng-submit="regraSend.$valid && enviarregra(mySelectA)">
    <select ng-model="mySelect" ng-options="item.titulo for item in regra"></select>

    <p> age of selected item is : {{mySelect.pontos}} </p>
      <br />
        <br />
       <select ng-model="mySelectA" ng-options="key as value.titulo for (key , value) in regra"></select>
       <p> age of selected item is : {{mySelectA.pontos}} </p>
        <br />
        <br />
     <select ng-model="mySelectB" ng-options="item.titulo group by item.pontos for item in regra track by item.titulo"></select>
    <p> age of selected item is : {{mySelectA}} </p>
    <input type="submit" value="Enviar" class="button button-block button-positive" ng-disabled="regraSend.$invalid" />
    <form>
    -->
    <p>Selecione uma ou mais conquistas:</p>
    <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Conquistas:
                </div>
  <select class="styled-select" ng-model="blisterPackTemplateSelected" ng-change="changedValue(blisterPackTemplateSelected)" 
    data-ng-options="blisterPackTemplate as blisterPackTemplate.titulo for blisterPackTemplate in blisterPackTemplates">
    <!--<option value="">Conquista:</option> -->
  </select>
  </label>
  </div>
  <div ng-show="verPontos">
  <h5 class="center" >Conquistas selecionadas: </h5>
  <p class="gris">Elimine um elemento movendo a conquista da direita para a esquerda e presionando o botão Delete.</p>
  </div>
  <ion-list>
    <ion-item ng-repeat="shop in items" class="item item-icon-left item-verde"  >
      <i class="icon ion-checkmark verde"></i>
      <h2 class="verde">{{shop[0]}} Pontos: {{shop[1]}}</h2>
      <ion-option-button class="button-assertive" ng-click="removeLista(shop)">
        Delete
      </ion-option-button>
    </ion-item>  
  </ion-list>
<br />
<div class="center" ng-if="verPontos">
    <h5>Total de Pontos das Conquistas selecionadas: <strong class="verde">{{suma}}</strong></h5>
</div>
<br />





<div ng-show="verPontos">
  <hr>

  <p class="gris">Confirme antes de enviar:</p>
  <ion-checkbox ng-model="checked"  class="azul item-azul">Confirmar.</ion-checkbox>
  </div>
  <br />

  <button class="button button-block button-balanced" ng-show="verPontos" ng-disabled="!checked" ng-click="enviarPontos()">Enviar Conquista</button>
  </div>
  <div ng-if="detalheJogo.estado == 'Terminado'">
    <h5 class="center vermelho">Este jogo já foi enviado.</h5>
    <ion-item class="item">
      <h2 class="center verde">Pontos: {{detalheJogo.pontos}}</h2>
    </ion-item>
    <h5 class="center">Detalhe das conquistas:</h5>
    <ion-list>
      <ion-item ng-repeat="detalhe in detalheJogo.conquistas track by $index" class="verde">
        <p>{{detalhe}}</p>
      </ion-item>
    </ion-list>

   
  </div>
</ion-content>
</ion-view>