<ion-view view-title="{{titulo}}">
  <ion-content>
     <ion-list>
       <a class="item item-icon-left item-icon-right" ng-repeat="jogo in jogos" type="item-text-wrap" href="#/tab/rankingjogosdetalhe/{{jogo.jogo}}|{{keyUsuario}}" ng-if="jogo.estado == 'Terminado'">                                 
            <i class="icon ion-ios-game-controller-a"></i>
            <strong>Jogo {{jogo.jogo}}</strong>
            <in ng-class="(jogo.estado=='Terminado') ? 'verde' : 'vermelho'">{{jogo.estado}}</in>
            <span class="item-note">
               <p class="right" ng-if="jogo.pontos > 0">Pontos: <strong>{{jogo.pontos}}</strong></p>
            </span>
            <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
     </ion-list>
  </ion-content>
</ion-view>