<ion-view view-title="Jogos">
<!--
<ion-nav-buttons side="right">

      <button class="button" ng-click="atualizarPagina()">
       Atualizar
      </button>
     
    </ion-nav-buttons>
    --> 
  <ion-content>
  <!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
      <div ng-repeat="jogo in jogos">
        <h3>{{chat.name}}</h3>
        <p>{{jogo.jogoId}} - Enviado</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
   -->
    <ion-list>
      <a class="item item-icon-left item-icon-right" ng-repeat="jogo in jogos | orderBy:'jogo*1':true" type="item-text-wrap" href="#/tab/chats/{{jogo.jogo}}" ng-if="!jogo.bloqueado">
            <i class="icon ion-ios-game-controller-a"></i>
            <strong>Jogo {{jogo.jogo}}</strong>
            <in ng-class="(jogo.estado=='Terminado') ? 'verde' : 'vermelho'">{{jogo.estado}}</in>
            <span class="item-note">
               <p class="right" ng-if="jogo.estado=='Terminado'">Pontos: <strong>{{jogo.pontos}}</strong></p>
            </span>
            <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </ion-list>

  </ion-content>
</ion-view>